//
//  Variables
//  ----------------------------------------------

@amwrap__email-table-th__border-color: #ddd;
@amwrap__email-table-th__background: #efefef;

//
//  Common
//  ----------------------------------------------

.amwrap-table {
    margin: 20px 0;

    td, th {
        border: 1px solid @amwrap__email-table-th__border-color;
        padding: 10px;
        text-align: left;
    }

    th {
        background: @amwrap__email-table-th__background;
        font-weight: bold;
    }
}
