//
//  Variables
//  ____________________________________________

@amwrap__box-shadow: 0 3px 5px #d7e0ea;

//
//  Indents
//  --------------------------

@amwrap__indent: 10px;
@amwrap__indent__l: @amwrap__indent * 2 - ( @amwrap__indent / 2 );
@amwrap__indent__xl: @amwrap__indent * 2;
@amwrap__indent__xxl: @amwrap__indent + @amwrap__indent__l;

//
//  Sizes
//  --------------------------

@amwrap__border-radius: 2px;
